.explore-topic {
    background-size: contain;
    height: max-content;
    padding-bottom: 20px;
}

.quiz {
    font-family: "Poppins", sans-serif;
    position: relative;
}

.correct-ans-counter {
    position: absolute !important;
    top: 235px;
    right: 30px !important;
    width: 270px;
    font-family: "Unbounded", cursive;
}


@media screen and (max-width: 688px) {
    .topic-name {
        width: 90% !important;
    }

    .correct-ans-counter {
        position: static !important;
        margin: 20px 26px 0 auto;
    }
}