/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Poppins&family=Unbounded&display=swap&family=Barlow&display=swap&family=Prosto+One&display=swap');

:root {
  --primary-color: rgb(250, 35, 108);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  position: relative;
  min-height: 100%;
}